In [1]:
!pip install bs4
!pip install lxml

Collecting bs4
  Downloading https://files.pythonhosted.org/packages/10/ed/7e8b97591f6f456174139ec089c769f89a94a1a4025fe967691de971f314/bs4-0.0.1.tar.gz
Collecting beautifulsoup4 (from bs4)
  Downloading https://files.pythonhosted.org/packages/66/25/ff030e2437265616a1e9b25ccc864e0371a0bc3adb7c5a404fd661c6f4f6/beautifulsoup4-4.9.1-py3-none-any.whl (115kB)
     |████████████████████████████████| 122kB 3.3MB/s eta 0:00:01
Collecting soupsieve>1.2 (from beautifulsoup4->bs4)
  Downloading https://files.pythonhosted.org/packages/6f/8f/457f4a5390eeae1cc3aeab89deb7724c965be841ffca6cfca9197482e470/soupsieve-2.0.1-py3-none-any.whl
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/a0/b0/b2/4f80b9456b87abedbc0bf2d52235414c3467d8889be38dd472
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.9.1 bs4-0.0.1 soupsieve-2.0.1
Collecting lxml
  Downloading https://files.pythonhosted.org/packages/55/6f/c87dffdd88a54dd26a3a9fef1d14b6384a9933c455c54ce3ca7d64a84c88/lxml-4.5.1-cp36-cp36m-manylinux1_x86_64.whl (5.5MB)
     |████████████████████████████████| 5.5MB 5.1MB/s eta 0:00:01     |█████                           | 849kB 5.1MB/s eta 0:00:01     |███████████████                 | 2.6MB 5.1MB/s eta 0:00:01     |██████████████████████          | 3.8MB 5.1MB/s eta 0:00:01     |████████████████████████████    | 4.8MB 5.1MB/s eta 0:00:01     |███████████████████████████████▍| 5.4MB 5.1MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.5.1

In [3]:
import pandas as pd  # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
from urllib.request import urlopen # module to open URLs
from bs4 import BeautifulSoup # package used to extract data from html file
import re # module provides regular expression matching operations

In [4]:
# provide web address where data exists
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
html = urlopen(url)

In [5]:
# Create BeautifulSoup object
soup = BeautifulSoup(html, 'lxml')
type(soup)

bs4.BeautifulSoup

In [6]:
# Get the title
title = soup.title
print(title)

<title>List of postal codes of Canada: M - Wikipedia</title>

In [7]:
# Print out the text
text = soup.get_text()
#print(soup.text)

In [8]:
#assign data to variable
Toronto_data = soup.find_all('table')[0]

In [9]:
# check data type
type(Toronto_data)

bs4.element.Tag

In [10]:
# Use for loop to extract relavant data from the table
list_rows = []
for row in Toronto_data.find_all('tr'):
    temp_list = []
    for cell in row.find_all('td'):
        clean = re.compile('<.*?>|\\n')
        clean2 = (re.sub(clean, '',str(cell)))
        temp_list.append(clean2)
    list_rows.append(temp_list)
list_rows[:5]

[[],
 ['M1A', 'Not assigned', 'Not assigned'],
 ['M2A', 'Not assigned', 'Not assigned'],
 ['M3A', 'North York', 'Parkwoods'],
 ['M4A', 'North York', 'Victoria Village']]

In [11]:
# Create DataFrame to store relavant data
Toronto_data1 = pd.DataFrame(list_rows[1:])
Toronto_data1.head()

     0                 1                          2
0  M1A      Not assigned               Not assigned
1  M2A      Not assigned               Not assigned
2  M3A        North York                  Parkwoods
3  M4A        North York           Victoria Village
4  M5A  Downtown Toronto  Regent Park, Harbourfront

In [12]:
# Create variable to store row data
Toronto_data.find_all('tr')[0]
row1 = Toronto_data.find_all('tr')[0]

In [13]:
# get column names
col_name=[]
for cell in row1.find_all('th'):
    clean = re.compile('<.*?>|\\n')
    clean2 = (re.sub(clean, '',str(cell)))
    col_name.append(clean2)
print(col_name)

['Postal Code', 'Borough', 'Neighborhood']

In [14]:
#assign column names to dataframe
Toronto_data1.columns=col_name
Toronto_data1.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [15]:
# Select only Boroughs that have assigned names
Toronto_data1=Toronto_data1[Toronto_data1['Borough']!='Not assigned'] # replace with filtered data

In [16]:
Toronto_data1.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [17]:
Toronto_data1[Toronto_data1['Neighborhood']=='Not assigned'] #check if any Neighborhood name is "Not Assigned"

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

In [16]:
Toronto_data1.shape

(103, 3)